<template>
    <div id="app">

    <!-- start includes nav  header-dark-->
        <navigation-dashboard></navigation-dashboard>
    <!-- end includes nav -->

    <div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar start light-side-menu-->
            <sidebar-dashboard></sidebar-dashboard>
        <!-- Left Sidebar End-->

    <!-- Start Content Page -->
        <div class="content-wrapper"> 
            <transition name="moveInUp">
                <router-view></router-view>
            </transition>
    <!-- End Content Page -->
        
    <!-- Start footer -->
            <footer-dashboard></footer-dashboard>
        </div>
    </div>
    </div>
    </div>
    <!-- End footer -->

</template>

<script>
export default {
  name: 'App',
  created () {
      document.title = "Dashboard";
  },
}
</script>
